---
const { frontmatter } = Astro.props;
import '../styles/global.css';
import Footer from '../components/elements/footer.astro';
import Navbar from '../components/navbar.jsx';
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content={frontmatter.description} />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/osmkerala.png" />
  <meta name="generator" content={Astro.generator} />
  <title>{frontmatter.title}</title> <!-- You can include the title from frontmatter -->
</head>
<body class="dark:bg-slate-800">
  <Navbar client:load />
  <div class="m-2 p-2">
    <h1 class="text-3xl font-bold">{frontmatter.title}</h1>
    <p class="text-lg font-bold">{frontmatter.description}</p>
    <h3 class="text-md font-semibold">Author: {frontmatter.author}</h3>
    <hr class="border-black my-4" />
    <div
      class="m-2 p-2 prose lg:prose-xl dark:prose-invert
      prose-h1:font-bold prose-h1:text-xl
      prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl"
    >
      <slot />
    </div>
  </div>
  <Footer />
</body>
</html>
