---
const {frontmatter} = Astro.props;
import Footer from '../components/elements/footer.astro';
import Navbar from '../components/navbar.jsx';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- <title>{title}</title> -->
	</head>
	<body>
		<Navbar client:load />
        <div class="m-2 p-2 ">

            <h1 class="text-3xl font-bold">{frontmatter.title}</h1>
            <h2 class="text-xl font-medium">{frontmatter.description}</h2>
            <p>{frontmatter.description}</p>
            <slot>
                <h1 class="font-bold"></h1>
            </slot> <!-- Markdown content is injected here -->
        </div>
            <Footer/>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #D3D3D3; */
		background: #f2f2f2;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
